@page "/imagechange"
@rendermode InteractiveServer
@inject ISelectedPictureShowService selectedPictureShowService
<h3>Image Changer</h3>

<div class="form-control" style="margin:20px;width: 1230px">
    <label for="Image">Select Picture</label>
    <InputFile id="Image" OnChange="HandleSelectedImage" class="form-control" />
    <br />
    @if (selectedImage != null)
    {
        <label>Name: @selectedImage.Name </label>
        <br />
        <label>Size: @(Math.Round(selectedImage.Size / 1024.0 / 1024.0, 2)) MB</label>
        <br />
        <label>Size: @(Math.Round(selectedImage.Size / 1024.0, 2)) KB</label>
        <br />
        <label>Date: @selectedImage.LastModified.DateTime </label>
        <br />
        @if (!string.IsNullOrEmpty(imageUrl))
        {
            <img src="@imageUrl" alt="Image" style="max-width:1200px;" />
        }
    }
</div>

<div class="form-control" style="margin:20px; width:500px">
    <label>Seclect modify options</label>
    <br />
</div>    


@code {
    private IBrowserFile? selectedImage;
    private PictureInformation pictureInformation = new PictureInformation();
    private PictureFile pictureFile = new PictureFile();
    private string? imageUrl;

    private async Task HandleSelectedImage(InputFileChangeEventArgs e)
    {
        selectedImage = e.File;
        imageUrl = await selectedPictureShowService.ReturnSelectedPictureAsUrl(selectedImage);
    }


}    
