@page "/imagechange"
@rendermode InteractiveServer
@inject ISelectedPictureShowService selectedPictureShowService
<h2>Image Changer</h2>

<div class="form-control" style="margin:20px;width: 1230px">
    <label for="Image">Select Picture</label>
    <InputFile id="Image" OnChange="HandleSelectedImage" class="form-control" />
    <br />
    @if (selectedImage != null)
    {
        <label>Name: @selectedImage.Name </label>
        <br/>
        <label>Size: @(Math.Round(selectedImage.Size / 1024.0 / 1024.0, 2)) MB</label>
        <br />
        <label>Size: @(Math.Round(selectedImage.Size / 1024.0, 2)) KB</label>
        <br />
        <label>Date: @selectedImage.LastModified.DateTime </label>
        <br />
        <label>Format: @selectedImage.ContentType </label>
        <br />
        @if (!string.IsNullOrEmpty(imageUrl))
        {
            <img src="@imageUrl" alt="Image" style="max-width:1200px;" />
        }
    }
</div>
@if (selectedImage != null)
{
    <div class="form-control" style="margin:20px; width:500px">
        <h3>Select Modify Options</h3>
        <input type="checkbox" @bind="isSelectedFormatOption" />
        <label style="font-size:x-large">Change Output Format</label>
        @if (isSelectedFormatOption)
        {
            <select @bind="selectedFormat" class="form-control">
                <option value="jpg">JPG</option>
                <option value="png">PNG</option>
                <option value="gif">GIF</option>
                <option value="webp">WEBP</option>
                <option value="svg">SVG</option>
                <option value="pdf">PDF</option>
            </select>
        }
        <br/>
        <input type="checkbox" @bind="changeSize"/>
        <label style="font-size:x-large">Change Output Sizing</label>
        <br/>
        @if (changeSize)
        {
            <div class="form-control" style="margin:20px; width:450px">
                <input type="checkbox" @bind="maxWH" />
                <label>Output max size in pixels. </label>
                @if (maxWH)
                {
                    <div class="form-control" style="margin:20px; width:350px">
                        <label>Inset max WIDTH or HEIGHT in pixels</label>
                        <input type="number" @bind="maxOutputSize" />
                    </div>
                }
                    <br />
                    <input type="checkbox" @bind="specificWH" />
                    <label> Output Specific Size </label>
                @if (specificWH)
                {
                    <div class ="form-control" style="margin:20px; width:350px">
                        <label>Width</label><br />
                        <input type="number" @bind="outputWidth" />
                        <br />
                        <label>Height</label><br />
                        <input type="number" @bind="outputHeight" />
                    </div>
                }
            </div>     
        }
    </div>
}
    


@code {
    private IBrowserFile? selectedImage;
    private PictureInformation pictureInformation = new PictureInformation();
    //private PictureFile pictureFile = new PictureFile();
    private string? imageUrl;
    private bool isSelectedFormatOption = false; 
    private string selectedFormat = "jpg"; // Stores the selected format
    private bool changeSize = false;
    private bool maxWH = false;
    private bool specificWH = false;
    private int maxOutputSize = 0; // Stores the max size for output
    private int outputWidth = 0; // Stores the width for specific size
    private int outputHeight = 0; // Stores the height for specific size

    private async Task HandleSelectedImage(InputFileChangeEventArgs e)
    {
        selectedImage = e.File;
        imageUrl = await selectedPictureShowService.ReturnSelectedPictureAsUrl(selectedImage);
    }


}    
